<%- include('../partials/head.ejs') %> 
  <!-- Additional Styles & Scripts Here !!! -->
</head>

<body>
  <div class="container border border-secondary">
    <form action="" method="post">
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
      </div>
      <button type="submit" class="btn btn-info">Next</button>
    </form>
  </div>
</body>

<%- include('../partials/end.ejs') %> 