<%- include('../partials/head.ejs') %> 
  <!-- Additional Styles & Scripts Here !!! -->
</head>

<body>
  <h1>Shoppy Landing Page</h1>
  <a href="/auth/login">Login</a>
  <a href="/auth/register">Register</a>
</body>

</html>